<div th:fragment="html">
    <script>
        $(function () {
            var data = {
                url:"forelogin",
                user:{name:'',password:''},
                result:[]
            };
            var vue = new Vue({
                el:"#workingArea",
                data:data,
                mounted:function () {
                    linkDefaultActions();
                },
                methods:{
                    login:function () {
                        var url = this.url;
                        if(this.user.name.length==0){
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                            $("span.errorMessage").html("请输入用户名");
                            return;
                        }
                        if(this.user.password.length==0){
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                            $("span.errorMessage").html("请输入密码");
                            return;
                        }
                        axios.post(url,this.user).then(function (response) {
                            var result = response.data;
                            if(result.code==0){
                                location.href="home";
                            }else {
                                $("div.loginErrorMessageDiv").css("visibility","visible");
                                $("span.errorMessage").html(result.message);
                            }
                        });
                    }
                }
            });
            var left = window.innerWidth/2+162;
            $("div.loginSmallDiv").css("left",left);
        })
    </script>
    <div id="loginDiv" style="position: relative">
        <div class="simpleLogo">
            <a th:href="${application.contextPath}"><img src="img/site/simpleLogo.png"></a>
        </div>
        <img src="img/site/loginBackground.png" id="loginBackgroundImg" class="loginBackgroundImg">
        <div id="loginSmallDiv" class="loginSmallDiv">
            <div class="loginErrorMessageDiv">
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    <span class="errorMessage"></span>
                </div>
            </div>
            <div class="login_acount_text">账户登录</div>
            <div class="loginInput ">
                <span class="loginInputIcon ">
                    <span class=" glyphicon glyphicon-user"></span>
                </span>
                <input type="text" v-model="user.name" placeholder="手机号/会员号/邮箱">
            </div>
            <div class="loginInput ">
                <span class="loginInputIcon ">
                    <span class=" glyphicon glyphicon-lock"></span>
                </span>
                <input type="password" v-model="user.password" placeholder="请输入密码">
            </div>
            <span class="text-danger">请注意保护好自己的账号密码</span><br><br>
            <div>
                <a href="#nowhere" class="notImplementLink">忘记密码</a>
                <a href="register" class="pull-right">免费注册</a>
            </div>
            <div style="margin-top:20px">
                <button type="button" @click="login" class="btn btn-block redButton">登录</button>
            </div>
        </div>
    </div>
</div>