<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/foreHeader::html"></head>
<body>
    <div id="workingArea">
        <div th:replace="include/fore/foreTop::html"></div>
        <div th:replace="include/fore/search/simpleSearch::html"></div>
        <div th:replace="include/fore/cart/cartPage::html"></div>
        <div th:replace="include/fore/cart/deleteOrderItemModal::html"></div>
        <div th:replace="include/fore/foreFooter::html"></div>
    </div>
</body>
</html>