<!--商品详情页中间主题部分-->
<div th:fragment="html">
    <script>
        function imgAndInfoPageRegisterListeners(vue) {
            var stock = vue.product.stock;
            //控制商品购买数量为有效值
            $(".productNumberSetting").keyup(function () {
                var num = $(".productNumberSetting").val();
                num = parseInt(num);
                if(isNaN(num))
                    num = 1;
                if(num<=0)
                    num = 1;
                if(num>stock)
                    num = stock;
                $(".productNumberSetting").val(num);
            });
            //当用按钮增加商品购买数量时,数量加1且数量不能超过库存
            $(".increaseNumber").click(function () {
                var num = $(".productNumberSetting").val();
                num++;
                if(num>stock)
                    num = stock;
                $(".productNumberSetting").val(num);
            });
            //当用按钮增加商品购买数量时,数量减1且数量不能小于等于0
            $(".decreaseNumber").click(function () {
                var num = $(".productNumberSetting").val();
                num--;
                if(num<=0)
                    num = 1;
                $(".productNumberSetting").val(num);
            });
            //加入购物车
            $(".addCartButton").click(function () {
                var url = "foreCheckLogin";
                //先检查是否登录
                axios.get(url).then(function (response) {
                    //若登录了
                    if(response.data.code==0){
                        var pid = vue.product.id;
                        var num = $(".productNumberSetting").val();
                        var url = "foreAddCart?pid="+pid+"&num="+num;
                        //发送请求,带有商品id和购买数量
                        axios.get(url).then(function (response) {
                            var result = response.data;
                            //若加入成功,则改变加入购物车按钮的样式
                            if(result.code==0){
                                $(".addCartButton").html("已加入购物车");
                                $(".addCartButton").attr("disabled","disabled");
                                $(".addCartButton").css("background-color","lightgray");
                                $(".addCartButton").css("border-color","lightgray");
                                $(".addCartButton").css("color","black");
                            }
                        });
                    }
                    //若没有登录,弹出登录框
                    else {
                        $("#loginModal").modal("show");
                    }
                });
            });
          //  立即购买
          $(".buyLink").click(function () {
              var url = "foreCheckLogin";
              axios.get(url).then(function (response) {
                  if(response.data.code==0){
                      var pid = vue.product.id;
                      var num = $(".productNumberSetting").val();
                      var url = "foreBuyOne?pid"+pid+"&num="+num;
                      axios.get(url).then(function (response) {
                          var oiid = response.data;
                          location.href = "buy?oiid="+oiid;
                      });
                  }else {
                      $("#loginModal").modal("show");
                  }
              });
              return false;
          });
          //弹出的登录框的操作
          $("button.loginSubmitButton").click(function () {
              var url = "forelogin";
              if(vue.user.name.length==0){
                  $("span.errorMessage").html("请输入用户名");
                  $("div.loginErrorMessageDiv").css("visibility","visible");
                  return;
              }
              if(vue.user.password.length==0){
                  $("span.errorMessage").html("请输入密码");
                  $("div.loginErrorMessageDiv").css("visibility","visible");
                  return;
              }
              axios.post(url,vue.user).then(function (response) {
                  var result = response.data;
                  if(result.code==0){
                      location.href = "product?pid="+vue.product.id;
                  }else {
                      $("span.errorMessage").html(result.message);
                      $("div.loginErrorMessageDiv").css("visibility","visible");
                  }
              });
          });
          //商品主图,大图下面的五张小图,鼠标放上去变为大图显示
          $("img.smallImage").mouseenter(function () {
                var baseImageURL = $(this).attr("bigImageURL");
                $("img.bigImg").attr("src",baseImageURL);
          });
          $("img.bigImg").load(function () {
              $("img.smallImage").each(function () {
                  var baseImageURL = $(this).attr("bigImageURL");
                  img = new Image();
                  img.onload = function () {
                      $("div.img4load").append($(img));
                  }
              });
          });
        }
    </script>
    <div class="imgAndInfo">
        <div class="imgInimgAndInfo">
            <img v-if="firstProductImage!=null" :src="'img/productSingle/'+firstProductImage.id+'.jpg'" class="bigImg">
            <div class="smallImageDiv">
                <img v-for="pi in product.productSingleImages" :src="'img/productSingle_middle/'+pi.id+'.jpg'"
                     :bigImageURL="'img/productSingle/'+pi.id+'.jpg'" class="smallImage">
            </div>
            <div class="img4load hidden"></div>
        </div>
        <div class="infoInimgAndInfo">
            <div class="productTitle">
                {{product.name}}
            </div>
            <div class="productSubTitle">
                {{product.subTitle}}
            </div>
            <div class="productPrice">
                <div class="juhuasuan">
                    <span class="juhuasuanBig">聚划算</span>
                    <span>此商品即将参加聚划算,<span class="juhuasuanTime">1天19小时</span>后开始</span>
                </div>
                <div class="productPriceDiv">
                    <div class="originalDiv">
                        <img height="16px" src="img/site/gouwujuan.png">
                        <span>全天猫实物商品通用</span>
                    </div>
                    <div class="originalDiv">
                        <span class="originalPriceDesc">价格</span>
                        <span class="originalPriceYuan">￥</span>
                        <span class="originalPrice">{{product.originalPrice | formatMoneyFilter}}</span>
                    </div>
                    <div class="promotionDiv">
                        <span class="promotionPriceDesc">折扣价</span>
                        <span class="promotionPriceYuan">￥</span>
                        <span class="promotionPrice">{{product.promotePrice | formatMoneyFilter}}</span>
                    </div>
                </div>
            </div>
            <div class="productSaleAndReviewNumber">
                <div>销量<span class="redColor boldWord">{{product.saleCount}}</span></div>
                <div>累计评价<span class="redColor boldWord">{{product.reviewCount}}</span></div>
            </div>
            <div class="productNumber">
                <span>数量</span>
                <span>
                    <span class="productNumberSettingSpan">
                        <input type="text" value="1" class="productNumberSetting">
                    </span>
                    <span class="arrow">
                        <a href="#nowhere" class="increaseNumber">
                            <span class="updown">
                                <img src="img/site/increase.png">
                            </span>
                        </a>
                        <span class="updownMiddle"></span>
                        <a href="#nowhere"  class="decreaseNumber">
                            <span class="updown">
                                <img src="img/site/decrease.png">
                            </span>
                        </a>
                    </span>
                件</span>
                <span>库存{{product.stock}}件</span>
            </div>
            <div class="serviceCommitment">
                <span class="serviceCommitmentDesc">服务承诺</span>
                <span class="serviceCommitmentLink">
                    <a href="#nowhere">正品保证</a>
                    <a href="#nowhere">极速退款</a>
                    <a href="#nowhere">赠运费险</a>
                    <a href="#nowhere">七天无理由退换</a>
                </span>
            </div>
        </div>
        <div class="buyDiv">
            <a class="buyLink"><button class="buyButton">立即购买</button></a>
            <a href="#nowhere" class="addCartLink"><button class="addCartButton"><span class="glyphicon glyphicon-shopping-cart"></span>加入购物车</button></a>
        </div>
        <div style="clear:both"></div>
    </div>
</div>